version: 2.1

jobs:
  build:
    docker:
      - image: alexfalkowski/bazel:1.0
    working_directory: ~/gocovmerge
    steps:
      - checkout:
          method: blobless
      - run: git submodule sync
      - run: git submodule update --init
      - run: bazelisk version
      - restore_cache:
          keys:
            - bazel-v1-{{ .Branch }}-{{ checksum ".bazelversion" }}-{{ checksum "MODULE.bazel" }}-{{ checksum "MODULE.bazel.lock" }}
            - bazel-v1-{{ .Branch }}-{{ checksum ".bazelversion" }}
            - bazel-v1-{{ checksum ".bazelversion" }}
      - run: bazelisk mod tidy
      - run: bazelisk run //:gazelle
      - run: bazelisk build //...
      - save_cache:
          key: bazel-v1-{{ .Branch }}-{{ checksum ".bazelversion" }}-{{ checksum "MODULE.bazel" }}-{{ checksum "MODULE.bazel.lock" }}
          paths:
            - .bazel
            - ../.bazel_repository_cache

    resource_class: arm.large
  release:
    docker:
      - image: alexfalkowski/release:5.47
    working_directory: ~/gocovmerge
    steps:
      - checkout:
          method: blobless
      - run: git submodule sync
      - run: git submodule update --init
      - run: version
      - run: package
    resource_class: arm.large

workflows:
  gocovmerge:
    jobs:
      - build
      - release:
          context: gh
          requires:
            - build
          filters:
            branches:
              only: master
