version: 2.1

jobs:
  build:
    docker:
      - image: alexfalkowski/bazel:1.1
    working_directory: ~/gocovmerge
    steps:
      - checkout:
          method: blobless

      - restore_cache:
          name: Restore Bazel temp cache (/tmp/gocovmerge)
          keys:
            - v1-bazel-tmp-{{ arch }}-{{ checksum "MODULE.bazel" }}-{{ checksum "MODULE.bazel.lock" }}
            - v1-bazel-tmp-{{ arch }}-{{ checksum "MODULE.bazel" }}
            - v1-bazel-tmp-{{ arch }}

      - run: git submodule sync
      - run: git submodule update --init
      - run: bazelisk mod tidy
      - run: bazelisk run //:gazelle
      - run: bazelisk build //:gocovmerge

      - save_cache:
          name: Save Bazel temp cache (/tmp/gocovmerge)
          key: v1-bazel-tmp-{{ arch }}-{{ checksum "MODULE.bazel" }}-{{ checksum "MODULE.bazel.lock" }}
          paths:
            - /tmp/gocovmerge/
    resource_class: arm.large
  release:
    docker:
      - image: alexfalkowski/release:5.47
    working_directory: ~/gocovmerge
    steps:
      - checkout:
          method: blobless
      - run: git submodule sync
      - run: git submodule update --init
      - run: version
      - run: package
    resource_class: arm.large

workflows:
  gocovmerge:
    jobs:
      - build
      - release:
          context: gh
          requires:
            - build
          filters:
            branches:
              only: master
